@import "tailwindcss";

@config '../tailwind.config.ts';

@layer base {
  img {
    /* Keep intrinsic aspect ratio when images are resized by width xor height */
    aspect-ratio: auto;
  }
}

@utility mink-button {
  @apply p-1 px-2 rounded-sm shadow-sm bg-zinc-100 shadow-zinc-400 text-gray-700 no-underline cursor-pointer font-medium hover:drop-shadow-md hover:brightness-110 transition-all;
  @apply dark:bg-zinc-800 dark:shadow-none dark:text-zinc-300;

  &[disabled],
  &.disabled {
    @apply bg-slate-100! shadow-sm! text-slate-400! cursor-not-allowed! hover:drop-shadow-none! hover:brightness-100!;
    @apply dark:bg-slate-600! dark:text-gray-400!;
  }
}

@utility button-primary {
  @apply not-disabled:bg-sky-700 not-disabled:shadow-sky-900 not-disabled:text-white;
  @apply not-disabled:dark:text-sky-50;
}

@utility button-danger {
  @apply not-disabled:bg-red-600 not-disabled:shadow-red-700 not-disabled:text-white;
  @apply not-disabled:dark:bg-red-700;
}

@utility button-success {
  @apply not-disabled:bg-green-600 not-disabled:shadow-green-800 not-disabled:text-white;
}

@utility button-warning {
  @apply not-disabled:bg-amber-300 not-disabled:shadow-amber-600 not-disabled:text-amber-900;
  @apply not-disabled:dark:bg-amber-700 not-disabled:dark:shadow-amber-800 not-disabled:dark:text-white;
}

@utility button-mute {
  @apply border-0 shadow-none;
  &:not(:hover):not([disabled]) {
    @apply bg-transparent! text-inherit!;
  }
}

@utility button-slim {
  @apply p-0 px-1;
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans;
    @apply dark:bg-zinc-900 dark:text-zinc-200;
  }

  a {
    @apply underline hover:text-sborange-600;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  p {
    @apply my-2;
  }
  p:first-child {
    @apply mt-0;
  }
  p:last-child {
    @apply mb-0;
  }

  strong {
    @apply font-semibold;
  }

  thead {
    @apply uppercase text-sm;
  }

  tr {
    @apply align-baseline;
  }

  th {
    @apply text-left font-medium pr-2;
  }

  pre {
    overflow: auto;
  }

  details summary {
    cursor: default;
  }

  input,
  textarea,
  select {
    @apply bg-white dark:bg-zinc-900 border border-zinc-400 dark:border-zinc-600 rounded-sm p-1 px-2;
  }

  input:invalid,
  textarea:invalid,
  select:invalid {
    @apply border border-red-600 bg-red-50 dark:bg-red-900;
  }

  input[disabled],
  textarea[disabled],
  select[disabled] {
    @apply bg-slate-100 dark:bg-zinc-700 cursor-not-allowed;
  }

  .formkit-outer {
    @apply my-4;
  }
  .formkit-actions {
    @apply flex justify-center gap-4;
  }
  .formkit-label {
    @apply font-medium;
  }
  .formkit-help {
    @apply text-sm py-1 opacity-70;
  }
  .formkit-message {
    @apply text-red-600;
  }
  [data-type="radio"] .formkit-inner,
  [data-type="checkbox"] .formkit-inner {
    @apply inline-block mr-2;
  }
  [data-type="radio"] .formkit-legend {
    @apply font-medium;
  }
  [data-type="radio"] .formkit-label {
    @apply font-normal;
  }
}

@layer utilities {
  /* Striped tables */
  table.striped tr:has(td):nth-child(2n + 1) {
    @apply bg-gray-100 dark:bg-zinc-800;
  }
  table.striped tr:has(td):nth-child(2n) {
    @apply bg-gray-50/50 dark:bg-zinc-800;
  }
  table.striped th,
  table.striped td {
    @apply py-1 px-2;
  }

  table .formkit-outer {
    margin: 0;
  }

  /* Prose, (long) body text */
  .prose ul {
    padding-left: 2em;
  }
  .prose ul li {
    list-style-type: disc;
  }
}
