@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-gray-50 text-gray-900;
  @apply  dark:bg-zinc-800 dark:text-zinc-300
}

a {
  @apply text-sborange hover:brightness-110;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

p {
  @apply my-2;
}
p:first-child {
  @apply mt-0;
}
p:last-child {
  @apply mb-0;
}

thead {
  @apply uppercase text-sm;
}

table.striped tbody,
.bg-white table.striped tbody tr:nth-child(2n) {
  @apply bg-gray-100 dark:bg-zinc-700;
}
table.striped tbody tr:nth-child(2n),
.bg-white table.striped tbody {
  @apply bg-gray-50 dark:bg-zinc-800;
}

table.striped th,
table.striped td {
  @apply py-1 px-2;
}

tr {
  @apply align-baseline;
}

th {
  @apply text-left font-medium pr-2
}

pre {
  overflow: auto;
}

input, textarea, select {
  @apply dark:bg-zinc-900 border dark:border-zinc-600 rounded;
}

@layer components {
  .mink-button, a .mink-button {
    @apply p-1 px-2 rounded shadow bg-zinc-100 text-gray-700 cursor-pointer hover:drop-shadow-md hover:brightness-110 transition-all;
    @apply dark:bg-zinc-700 dark:text-zinc-300;
  }
  .mink-button.mink-primary {
    @apply bg-blue-400 shadow-blue-700 text-white;
  }
  .mink-button.mink-danger {
    @apply bg-red-400 shadow-red-700 text-white;
    @apply dark:bg-red-700;
  }
  .mink-button.mink-success {
    @apply bg-green-300 shadow-green-600 text-green-900;
  }
  .mink-button.mink-warning {
    @apply bg-amber-300 shadow-amber-600 text-amber-900;
  }
  .mink-button.disabled {
    @apply bg-slate-100 text-slate-400 cursor-not-allowed hover:drop-shadow-none hover:brightness-100;
    @apply dark:bg-slate-600 dark:text-gray-400
  }
}
