@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

a {
  color: #f2581a;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

p {
  @apply my-2;
}
p:first-child {
  @apply mt-0;
}
p:last-child {
  @apply mb-0;
}

thead {
  @apply uppercase text-sm;
}

tbody {
  @apply bg-gray-100;
}
tbody tr:nth-child(2n) {
  @apply bg-gray-50;
}

.bg-white tbody {
  @apply bg-gray-50;
}
.bg-white tbody tr:nth-child(2n) {
  @apply bg-gray-100;
}

.bg-zinc-600 tbody {
  @apply bg-zinc-500;
}
.bg-zinc-600 tbody tr:nth-child(2n) {
  @apply bg-zinc-500;
}

th {
  @apply text-left font-medium
}

th,
td {
  @apply py-1 px-2 align-baseline;
}

pre {
  overflow: auto;
}

@layer components {
  .mink-button, a .mink-button {
    @apply p-1 px-2 rounded bg-white shadow-sm text-gray-700 hover:drop-shadow-md hover:opacity-90 transition-all;
  }
  .mink-button.mink-primary {
    @apply bg-blue-400 text-white;
  }
  .mink-button.mink-danger {
    @apply bg-red-400 text-white;
  }
  .mink-button.mink-success {
    @apply bg-green-400 text-green-900;
  }
  .mink-button.mink-warning {
    @apply bg-amber-300 text-amber-900;
  }
}
